apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-ok
  namespace: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-ok
  template:
    metadata:
      labels:
        app: demo-ok
    spec:
      containers:
        - name: demo-ok
          image: IMAGE_URI
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
